@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Rubik, sans-serif;
}

.splide__pagination {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 40px !important;
}

.splide__pagination__page {
  border: 1px solid white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.splide__pagination__page.is-active {
  background-color: white;
  transform: scale(1.2);
}

/* .bgMain {
  background: linear-gradient(
    to right,
    #41b36f,
    #41b36f 99%,
    #41b36f 96%,
    #41b36f 92%,
    #41b36f 85%,
    #41b36f 77%,
    #41b36f 67%,
    #41b36f 56%,
    #41b36f 44%,
    #41b36f 33%,
    #41b36f,
    23%,
    #41b36f 15%,
    #41b36f 8%,
    #41b36f 4%,
    #41b36f 1%,
    #41b36f 0%
  );
} */
